<!-- dimemagtv | 160x600 | begin ad tag (tile=3) -->
<script language="JavaScript" type="text/javascript">
document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/cmn_dimemagtv/channels;s=a;tile=3;sz=160x600;ord=' + ord + '?" type="text/javascript"><\/script>');
</script><noscript><a href="http://ad.doubleclick.net/jump/cmn_dimemagtv/channels;s=a;tile=3;sz=160x600;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/cmn_dimemagtv/channels;s=a;tile=3;sz=160x600;ord=123456789?" width="160" height="600" border="0" alt=""></a></noscript>
<!-- End ad tag -->