<!-- dimemagtv | 728x90 | begin ad tag (tile=1) -->
<script language="JavaScript" type="text/javascript">
ord=Math.random()*10000000000000000;
document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/cmn_dimemagtv/home;s=a;tile=1;sz=728x90;ord=' + ord + '?" type="text/javascript"><\/script>');
</script><noscript><a href="http://ad.doubleclick.net/jump/cmn_dimemagtv/home;s=a;tile=1;sz=728x90;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/cmn_dimemagtv/home;s=a;tile=1;sz=728x90;ord=123456789?" width="728" height="90" border="0" alt=""></a></noscript>
<!-- End ad tag -->