{% extends "videodiary/post_detail.html" %}

{% load i18n %}

{% block title %}{{ category.title|title }}{% endblock %}

{% block sidebar_base %}
		{% if latest %}
		<nav id="recent-videos">
	    	<h2>
				<span>
				{% block sidebar_header %}
					{{ category.title|title }}{% endblock %}
				</span>
			</h2>
			<ul>
			{% for video in latest %}
			{% if forloop.first %}
			{% else %}
    			<li>
    				<a href="{{ video.get_absolute_url }}">
    				{% if video.oembed %}
    					<img src="{{ MEDIA_URL }}photologue/photos/cache/draft-diary-interview_thumbnail.png" alt="{{ video.title }}"/>
    				{% else %}
    					<img src="{{ video.get_thumbnail_url }}" alt="{{ video.title }}"/>
    				{% endif %}
    					<h3>{{ video.title|title }}</h3>
    				</a>
    				{% comment %}<p>
    			{% for category in video.public_galleries.all %}
    				<a href="{% url category category.title_slug %}">{{ category.title|title }}</a>{% if forloop.last %}{% else %}, {% endif %}
    			{% endfor %}
    				</p>{% endcomment %}
    			</li>
    		{% endif %}
   			{% endfor %}
   			</ul>
  		</nav>
  		{% endif %}
{% endblock %}

{% block content %}
{% for object in latest %}
{% if forloop.first %}
{% if object.oembed %}
<style>#panes{height:360px;}</style>
{% load oembed_tags %}
{% oembed %}
<div style="width:640px;height:360px;" id="player">
{% oembed 640x360 %}{{ object.oembed }}{% endoembed %}
</div>
{% include "videodiary/inc_oembed_share_bar.html" %}
{% endoembed %}
{% else %}
{% include "videodiary/inc_post_player.html" %}
{% include "videodiary/inc_share_bar.html" %}
{% endif %}
	<section id="video_info">
		<h2>{{ object.title|title }}</h2>
		{% if object.caption %}{{ object.caption|safe }}{% endif %}
		<h5 class="post_date">Posted {{ object.date_added|date:"g:m a F j, Y" }}{% if object.public_galleries.count %} in:{% endif %}</h5>
		<h5 class="post_category">{% for category in object.public_galleries.all %}
			<a href="{{ category.get_absolute_url }}">{{ category.title|title }}</a>{% if forloop.last %}.{% else %}, {% endif %}
    		{% endfor %}</h5>
	</section>
{% include "comments/comments.html" %}
{% endif %}
{% endfor %}
{% endblock %}